@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Yellowtail&family=Lobster&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
/* font-family: 'Lobster', cursive; */

/* linear-gradient(to right, #000c40, #f0f2f0) */
/* linear-gradient(to right, #f0f2f0, #000c40) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}
/* Section Accueil */
#accueil {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/bg-header.jpg) center;
	object-fit: contain;
	color: #f0f2f0;
}
.container-section {
	max-width: 1000px;
	margin: 0px auto;
	text-align: center;
	padding: 0px 10px;
}
header {
	padding: 30px;
}
/* nav burger */
.nav-burger {
	position: fixed;
	background-color: #00104053;
	font-size: 1.25rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	border-radius: 29px;
	box-shadow: inset -16px 16px 31px #000c40, inset 16px -16px 31px #f0f2f0;
}
.nav-burger:hover {
	box-shadow: 0 0 35px #000c40;
	background-color: #000c40;
}
/*  nav*/
.nav {
	position: fixed;
	margin-left: 60px;
	background: linear-gradient(to left, #f0f2f0, #000c40da);
	padding: 15px;
	border: 1px solid;
	border-radius: 15px;
	text-align: left;
	z-index: 100;
	display: none;
}
.nav a {
	display: block;
	color: #0000ee;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: -2px 2px 2px rgba(240, 242, 240, 0.6);
}
header .info {
	padding-bottom: 160px;
}
.info h1 {
	font-size: 3rem;
	letter-spacing: 3px;
}
.info h1::first-letter {
	font-family: 'Lobster', cursive;
}
/* todo: change just the ff first letter */
.info h1 .lastname {
	font-family: 'Yellowtail', cursive;
}
.info h3 {
	font-weight: normal;
	font-size: 1.25rem;
	letter-spacing: 2px;
}
.info .social {
	margin: 20px 0;
	position: relative;
}
.info .social a {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	border: 0.5px solid #000c40bd;
	background: radial-gradient(circle farthest-corner at top right, #f0f2f0 20%, #152a8a 50%, #000c40 80%);
	box-shadow: inset -16px 16px 31px #000c40, inset 16px -16px 31px #f0f2f0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0px 15px;
	transition: 0.5s ease-in-out;
	color: #f0f2f0;
}
.info .social a:hover {
	color: #000c40;
	background: #f0f2f0;
	/* animation: socialMove 10s linear infinite; */
}
.
/* TODO: change anim */
@keyframes socialMove {
	0% {
		transform: none;
	}
	20% {
		transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
	}
	25%,
	44% {
		transform: none;
	}
	50%,
	60% {
		transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
	}
	66%,
	100% {
		transform: none;
	}
}
.photo {
	position: relative;
}
.photo img {
	position: absolute;
	max-width: 200px;
	border-radius: 50%;
	border: 5px solid #152a8a;
	box-shadow: -20px -20px 60px #848484, 20px 20px 60px #f0f2f0;
	left: 50%;
	top: -163px;
	transform: translateX(-50%);
}
/* Section ABOUT */
.about {
	background-color: #f0f2f0;
	padding: 160px 0px 100px;
}
.container-section .title {
	font-family: 'Yellowtail', cursive;
	font-size: 1.5rem;
}
.container-section h3 {
	text-transform: uppercase;
	font-size: 1.875rem;
}
.container-section .special {
	font-weight: bold;
	margin-top: 15px;
	color: #152a8a;
}
.container-section p {
	max-width: 700px;
	color: #848484;
	margin: auto;
}
.container-section .ligne {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.ligne .col {
	width: 30%;
}
.ligne .col i {
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #152a8a;
	border: 2px solid #000c40;
	line-height: 40px;
	border-radius: 50%;
}
.ligne span.title-detail {
	display: block;
	font-weight: bold;
	margin: 15px 0;
}
.ligne span.italic {
	font-style: italic;
	font-size: 0.8rem;
}
.ligne span.graduate {
	font-style: italic;
	font-size: 1.2rem;
	font-weight: bold;
}
/* Section  */
