@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Yellowtail&family=Lobster&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
/* font-family: 'Lobster', cursive; */

/* linear-gradient(to right, #000c40, #f0f2f0) */
/* linear-gradient(to right, #f0f2f0, #000c40) */

@import url(/asset/css/colors.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
/* Section Home  */
#accueil {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/bg-header.jpg) center;
	object-fit: contain;
	color: #f0f2f0;
}
.container-section {
	max-width: 1000px;
	margin: 0px auto;
	text-align: center;
	padding: 0px 10px;
}
header {
	padding: 30px;
}
/* nav burger */
.nav-burger {
	position: fixed;
	background-color: #00104053;
	font-size: 1.25rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	border-radius: 29px;
	box-shadow: inset -16px 16px 31px #000c40, inset 16px -16px 31px #f0f2f0;
}
.nav-burger:hover {
	box-shadow: 0 0 35px #000c40;
	background-color: #000c40;
}
/*  nav*/
.nav {
	position: fixed;
	margin-left: 60px;
	background: linear-gradient(to left, #f0f2f0, #000c40da);
	padding: 15px;
	border: 1px solid;
	border-radius: 15px;
	text-align: left;
	z-index: 100;
	display: none;
}
.nav a {
	display: block;
	color: #0000ee;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: -2px 2px 2px rgba(240, 242, 240, 0.6);
}
header .info {
	padding-bottom: 160px;
}
.info h1 {
	font-size: 3rem;
	letter-spacing: 3px;
}
.info h1::first-letter {
	font-family: 'Lobster', cursive;
}
/* todo: change just the ff first letter */
.info h1 .lastname {
	font-family: 'Yellowtail', cursive;
}
.info h3 {
	font-weight: normal;
	font-size: 1.25rem;
	letter-spacing: 2px;
}
.info .social {
	margin: 20px 0;
	position: relative;
}
.info .social a {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	border: 0.5px solid #000c40bd;
	background: radial-gradient(circle farthest-corner at top right, #f0f2f0 20%, #152a8a 50%, #000c40 80%);
	box-shadow: inset -16px 16px 31px #000c40, inset 16px -16px 31px #f0f2f0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0px 15px;
	transition: 0.5s ease-in-out;
	color: #f0f2f0;
}
.info .social a:hover {
	color: #000c40;
	background: #f0f2f0;
	/* animation: socialMove 10s linear infinite; */
}
.
/* TODO: change anim */
@keyframes socialMove {
	0% {
		transform: none;
	}
	20% {
		transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
	}
	25%,
	44% {
		transform: none;
	}
	50%,
	60% {
		transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
	}
	66%,
	100% {
		transform: none;
	}
}
.photo {
	position: relative;
}
.photo img {
	position: absolute;
	max-width: 200px;
	border-radius: 50%;
	border: 5px solid #152a8a;
	box-shadow: -20px -20px 60px #848484, 20px 20px 60px #f0f2f0;
	left: 50%;
	top: -163px;
	transform: translateX(-50%);
}
/* Section ABOUT */
#about {
	background-color: #f0f2f0;
	padding: 160px 0px 100px;
}
.container-section .title {
	font-family: 'Yellowtail', cursive;
	font-size: 1.5rem;
}
.container-section h3 {
	text-transform: uppercase;
	font-size: 1.875rem;
}
.container-section .special {
	font-weight: bold;
	margin-top: 15px;
	color: #152a8a;
}
.container-section p {
	max-width: 700px;
	color: #848484;
	margin: auto;
}
.container-section .ligne {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.ligne .col {
	width: 30%;
}
.ligne .col i {
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #000c40;
	border: 1px solid #000c40c8;
	box-shadow: -10px 9px 10px 0px #848484 inset, -10px 9px 10px 0px #848484;
	line-height: 40px;
	border-radius: 50%;
}
.ligne span.title-detail {
	display: block;
	font-weight: bold;
	margin: 15px 0;
}
.ligne span.italic {
	font-style: italic;
	font-size: 0.8rem;
}
.ligne span.graduate {
	font-style: italic;
	font-size: 1.2rem;
	font-weight: bold;
}
/* Section Skills */
#skills {
	padding: 80px 0px 100px;
	text-align: center;
	background: url('/asset/media/bg-txt.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	color: #fff;
}
#skills .container-section h3 {
	background: linear-gradient(rgba(0, 0, 0, 0.191), rgba(0, 0, 0, 0.191)), url(/asset/media/bg-txt.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	font-size: 4rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 20px auto 0;
}
#skills .col {
	width: 47%;
}
.cont-bar {
	text-align: left;
	border-radius: 10px;
	border: 1px solid #f0f2f0;
	margin-right: 10px;
}
#skills .skills-logos {
	display: flex;
	align-items: center;
	justify-content: center;
}
#skills .skills-logos i {
	font-size: 2rem;
	border: 2px solid rgba(255, 255, 255, 0.764);
	box-shadow: -10px 9px 10px 0px rgba(255, 255, 255, 0.764) inset, -10px 9px 10px 0px rgba(13, 12, 12, 0.86);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	color: var(--html-bg);
	line-height: 40px;
	border-radius: 50%;
}
.cont-bar .skills-logos .cont-img {
	width: 60px;
	height: 60px;
	border: 2px solid #f0f2f0;
	line-height: 40px;
	display: inline-block;
}
.skills-logos img {
	width: 60px;
	height: 60px;
	object-fit: contain;
	border: 2px solid var(#f0f2f0);
	border-radius: 50%;
	box-shadow: -10px 9px 10px 0px rgba(255, 255, 255, 0.764) inset, -10px 9px 10px 0px rgba(13, 12, 12, 0.86);
	padding: 2px;
}
#skills .col > span {
	color: var(#f0f2f0);
	font-size: 1.8rem;
	font-weight: bold;
	/* TODO: text shadow or not */
	text-shadow: -10px 9px 10px 0px rgba(250, 247, 247, 0.86);
}
.bar {
	display: flex;
	align-items: center;
	width: 100%;
	box-shadow: -10px 9px 10px 0px rgba(13, 12, 12, 0.86);
}
.e {
	background-color: red; /*PROVISOIRE*/
	width: 20px;
	height: 25px;
	margin-right: 2px;
	padding-left: 5px;
	border-radius: 10px;
}
/* Section Resume*/
#resume {
	background: #f0f2f0;
	text-align: center;
	padding: 140px 0px 100px;
}
#resume h3 {
	text-transform: uppercase;
	font-size: 1.88rem;
}
#resume .info {
	text-align: left;
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin-top: 30px;
}
#resume .col {
	width: 45%;
}
#resume span.title {
	display: inline-block;
	color: #000c40;
	font-weight: bold;
	border: 2px solid #000c40;
	padding: 10px;
}
#resume table {
	margin-top: 30px;
	border-collapse: collapse;
}
td {
	padding-right: 10px;
}
td.dates {
	width: 40%;
	border-bottom: 1px solid #84848480;
}
td h3 {
	font-size: 20px;
	margin-bottom: 5px;
}
td.description {
	border-left: 1px solid #84848480;
	padding-left: 20px;
}
td.description span {
	font-weight: bold;
	font-style: italic;
}
td h4 {
	margin-top: 1.25rem;
}
td p {
	font-size: 0.88rem;
}
#resume .col div {
	text-align: center;
	font-weight: bold;
	font-size: 4rem;
}
/* Section Contact */
#contact {
	background: linear-gradient(to right, #f0f2f0, #000c40);
	color: #000c40;
	padding: 140px 0px 100px 0;
}
#contact .ligne {
	display: flex;
	justify-content: space-around;
}
#contact .col {
	margin-top: 50px;
}
#contact .col i {
	color: #000c40;
	border: 1px solid #f0f2f0;
	box-shadow: -10px 9px 10px 0px #f0f2f0 inset, -4px 3px 10px 0px #000c40;
}
#contact .info-contact a {
	padding: 20px;
	color: #152a8a;
	cursor: pointer;
}
/* *https://www.youtube.com/watch?v=cg8QbJhp5j4  * */
